<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <logger name="org.hibernate.engine.jdbc.spi.SqlExceptionHelper" level="ERROR"/>

    <logger name="org.postgresql" level="INFO"/>

    <logger name="org.springframework.security" level="INFO"/>

    <logger name="org.springframework.batch" level="WARN"/>
</configuration>